:root {
  --orange: hsl(22, 89%, 52%);
  --orange-Lt: hsl(22, 100%, 69%);
  --blue: hsl(220, 50%, 17%);
  --blue-Lt: hsl(221, 23%, 58%);
  --grey-Lt: hsl(198, 28%, 93%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Ariel, Helvetica, sans-serif;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

button {
  font-family: inherit;
}


